@media screen and (max-width: 768px) {
  #section {
    position: relative;
    display: block;
  }

  #section > .left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(96 125 139 / 30%);
  }

  #section > .right {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  #section > .right img {
    transform: scale(1.9);
  }

  #navbar {
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 2;
  }

  .content {
    margin: 5% auto;
  }

  #footer,
  #form-login .form-field label,
  .label-fiels a,
  #form-register .form-field label {
    color: #fff;
  }
}
